<div class="navbar">

  <!--Left-->
  <div class="side">

    <div class="logo">
      <img src="../../assets/chicks-logo-large.svg" width="150px" height="40px">
    </div>

      <div class="line"></div>

      <span class="menu">CURRENCY <select></select></span>
      <span class="menu">ITEMS <select></select></span>
      <span class="menu">ACCOUNTS <select></select></span>
      <span class="menu">SERVICES <select></select></span>
      <span class="menu">SWAP <select></select></span>
      <span class="menu">SELL <select></select></span>

  </div>

  <!--Right-->
  <div class="side">
    <span class="menu" [style.margin-right]="'65px'">USD <select></select></span>
    <span class="menu"><img class="cart" src="../../assets/cartchicksgold.svg">
      CART (5)
    </span>
    <button class="signin-button">SIGN IN<img src="../../../assets/profile.webp">
    </button>
  </div>

</div>