.navbar {
  width: 100%;
  height: 75px;
  background-color: #2f3140;
  border-bottom: 2px solid #444f6b;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0.68px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .side {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.navbar .side .mobile {
  display: none;
}
@media screen and (max-width: 1300px) {
  .navbar .side .mobile {
    display: block;
    padding-top: 15px;
  }
}
.navbar .side .menu {
  margin-right: 2.5rem;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1300px) {
  .navbar .side .menu {
    display: none;
  }
}
.navbar .side .menu select {
  cursor: pointer;
  width: 15px;
  margin-left: 5px;
  font-size: 14px;
  background-color: transparent;
  border: none;
  color: white;
}
.navbar .side .menu select option {
  background-color: black;
}
.navbar .side .menu select:focus {
  outline: none;
}
.navbar .side .menu .cart {
  margin-right: 5px;
}
.navbar .side .logo {
  background: solid;
  margin-left: 30px;
  margin-right: 45px;
  margin-top: 10px;
}
@media screen and (max-width: 470px) {
  .navbar .side .logo img {
    width: 110px;
    object-fit: contain;
  }
}
.navbar .side .line {
  margin-right: 45px;
  width: 1px;
  height: 40px;
  background-color: white;
}
@media screen and (max-width: 470px) {
  .navbar .side .line {
    display: none;
  }
}
.navbar .side .signin-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 107px;
  height: 40px;
  background-color: #39e29d;
  color: #37384b;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  margin-right: 20px;
}
.navbar .side .signin-button:hover {
  color: black;
}
.navbar .side .signin-button img {
  margin-left: 16px;
}

