<div class="maincontainer">
    
   <!-- Item 1 -->
   <div class="container">

       <!--Top content-->
       <div class="top-flex">
         <div class="on-sale">
           <div class="on-sale-container">
             <div class="point"></div>
             <span>ON SALE</span>
           </div>
           <button class="stock" disabled>In stock</button>
         </div>
     
         <div class="counter-container">
           <button>-</button>
           <div class="amount-container">
             <input class="amount" id="amount" value="1" disabled>
     
             <div class="arrows-container">
               <div class="arrow-up" [style.margin-bottom]="'5px'"></div>
     
               <div class="arrow-down"></div>
             </div>
           </div>
           <button>+</button>
         </div>
     
       </div>
     
       <!--Item Icon-->
       <img class="product-icon" src="../../assets/item1.png">
     
       <div class="name-game-row">
         <span class="product-name">Blue Partyhat</span>
     
         <!--Game Icon-->
         <img class="game-icon" src="../../assets/gameicon1.png">
       </div>

       <div class="price-row">
         <span class="price">$450.00</span>
     
         <span class="old-price">$522.50</span>
       </div>
     
       <div class="description">
         Lorem ipsum dolor sit amet. In fuga architecto
       </div>
     
       <div class="button-row">
         <button class="details">DETAILS</button>
     
         <button class="add">
           <span>ADD</span>
           <div class="cart-container">
             <img src="../../assets/cartchicksgold.svg">
           </div>
         </button>
       </div>
     
   </div>

  <!-- Item 2 -->
  <div class="container">

     <!--Top content-->
     <div class="top-flex">
       <div class="on-sale">
         <div class="on-sale-container">
           <div class="point"></div>
           <span>ON SALE</span>
         </div>
         <button class="stock" disabled>In stock</button>
       </div>
   
       <div class="counter-container">
         <button>-</button>
         <div class="amount-container">
           <input class="amount" id="amount" value="1" disabled>
   
           <div class="arrows-container">
             <div class="arrow-up" [style.margin-bottom]="'5px'"></div>
   
             <div class="arrow-down"></div>
           </div>
         </div>
         <button>+</button>
       </div>
   
     </div>
   
   
     <!--Item Icon-->
     <img class="product-icon" src="../../assets/item1.png">
   
     <div class="name-game-row">
       <span class="product-name">Blue Partyhat</span>
   
       <!--Game Icon-->
       <img class="game-icon" src="../../assets/gameicon1.png">
     </div>

     <div class="price-row">
       <span class="price">$450.00</span>
   
       <span class="old-price">$522.50</span>
     </div>
   
     <div class="description">
       Lorem ipsum dolor sit amet. In fuga architecto
     </div>
   
     <div class="button-row">
       <button class="details">DETAILS</button>
   
       <button class="add">
         <span>ADD</span>
         <div class="cart-container">
           <img src="../../assets/cartchicksgold.svg">
         </div>
       </button>
     </div>
    
  </div>
    
  <!-- Item 3 -->
  <div class="container">

    <!--Top content-->
    <div class="top-flex">
      <div class="on-sale">
        <div class="on-sale-container">
          <div class="point"></div>
          <span>ON SALE</span>
        </div>
        <button class="stock" disabled>In stock</button>
      </div>
  
      <div class="counter-container">
        <button>-</button>
        <div class="amount-container">
          <input class="amount" id="amount" value="1" disabled>
  
          <div class="arrows-container">
            <div class="arrow-up" [style.margin-bottom]="'5px'"></div>
  
            <div class="arrow-down"></div>
          </div>
        </div>
        <button>+</button>
      </div>
  
    </div>
  
  
      <!--Item Icon-->
    <img class="product-icon" src="../../assets/item1.png">
  
    <div class="name-game-row">

      <span class="product-name">Blue Partyhat</span>
  
      <!--Game Icon-->
      <img class="game-icon" src="../../assets/gameicon1.png">
    </div>

    <div class="price-row">
      <span class="price">$450.00</span>
  
      <span class="old-price">$522.50</span>
    </div>
  
    <div class="description">
      Lorem ipsum dolor sit amet. In fuga architecto
    </div>
  
    <div class="button-row">
      <button class="details">DETAILS</button>
  
      <button class="add">
        <span>ADD</span>
        <div class="cart-container">
          <img src="../../assets/cartchicksgold.svg">
        </div>
      </button>
    </div>
  
  </div>


  <!-- Item 4 -->
  <div class="container">

    <!--Top content-->
    <div class="top-flex">
      <div class="on-sale">
        <div class="on-sale-container">
          <div class="point"></div>
          <span>ON SALE</span>
        </div>
        <button class="stock" disabled>In stock</button>
      </div>
  
      <div class="counter-container">
        <button>-</button>
        <div class="amount-container">
          <input class="amount" id="amount" value="1" disabled>
  
          <div class="arrows-container">
            <div class="arrow-up" [style.margin-bottom]="'5px'"></div>
  
            <div class="arrow-down"></div>
          </div>
        </div>
        <button>+</button>
      </div>
  
    </div>
  
  
      <!--Item Icon-->
    <img class="product-icon" src="../../assets/item2.png">
  
    <div class="name-game-row">
      <span class="product-name">Blue Partyhat</span>
  
      <!--Game Icon-->
      <img class="game-icon" src="../../assets/gameicon2.png">
    </div>
    <div class="price-row">
      <span class="price">$450.00</span>
  
      <span class="old-price">$522.50</span>
    </div>

    <div class="description">
      Lorem ipsum dolor sit amet. In fuga architecto
    </div>
  
    <div class="button-row">
      <button class="details">DETAILS</button>
  
      <button class="add">
        <span>ADD</span>
        <div class="cart-container">
          <img src="../../assets/cartchicksgold.svg">
        </div>
      </button>
    </div>
  
  </div>

  <!-- Item 5 -->
  <div class="container">

    <!--Top content-->
    <div class="top-flex">
      <div class="on-sale">
        <div class="on-sale-container">
          <div class="point"></div>
          <span>ON SALE</span>
        </div>
        <button class="stock" disabled>In stock</button>
      </div>
  
      <div class="counter-container">
        <button>-</button>
        <div class="amount-container">
          <input class="amount" id="amount" value="1" disabled>
  
          <div class="arrows-container">
            <div class="arrow-up" [style.margin-bottom]="'5px'"></div>
  
            <div class="arrow-down"></div>
          </div>
        </div>
        <button>+</button>
      </div>
  
    </div>
  
  
      <!--Item Icon-->
    <img class="product-icon" src="../../assets/item2.png">
  
    <div class="name-game-row">
      <span class="product-name">Blue Partyhat</span>
  
      <!--Game Icon-->
      <img class="game-icon" src="../../assets/gameicon2.png">
    </div>

    <div class="price-row">
      <span class="price">$450.00</span>
  
      <span class="old-price">$522.50</span>
    </div>

    <div class="description">
      Lorem ipsum dolor sit amet. In fuga architecto
    </div>
  
    <div class="button-row">
      <button class="details">DETAILS</button>
  
      <button class="add">
        <span>ADD</span>
        <div class="cart-container">
          <img src="../../assets/cartchicksgold.svg">
        </div>
      </button>
    </div>
  
  </div>


    <!-- Item 6 -->
  <div class="container">

    <!--Top content-->
    <div class="top-flex">
      <div class="on-sale">
        <div class="on-sale-container">
          <div class="point"></div>
          <span>ON SALE</span>
        </div>
        <button class="stock" disabled>In stock</button>
      </div>
  
      <div class="counter-container">
        <button>-</button>
        <div class="amount-container">
          <input class="amount" id="amount" value="1" disabled>
  
          <div class="arrows-container">
            <div class="arrow-up" [style.margin-bottom]="'5px'"></div>
  
            <div class="arrow-down"></div>
          </div>
        </div>
        <button>+</button>
      </div>
  
    </div>
  
  
    <!--Item Icon-->
    <img class="product-icon" src="../../assets/item2.png">
  
    <div class="name-game-row">
      <span class="product-name">Blue Partyhat</span>
  
      <!--Game Icon-->
      <img class="game-icon" src="../../assets/gameicon2.png">
    </div>

    <div class="price-row">
      <span class="price">$450.00</span>
  
      <span class="old-price">$522.50</span>
    </div>
  
    <div class="description">
      Lorem ipsum dolor sit amet. In fuga architecto
    </div>
  
    <div class="button-row">
      <button class="details">DETAILS</button>
  
      <button class="add">
        <span>ADD</span>
        <div class="cart-container">
          <img src="../../assets/cartchicksgold.svg">
        </div>
      </button>
    </div>
  
  </div>

  <!-- Item 7 -->
  <div class="container">

    <!--Top content-->
    <div class="top-flex">
      <div class="on-sale">
        <div class="on-sale-container">
          <div class="point"></div>
          <span>ON SALE</span>
        </div>
        <button class="stock" disabled>In stock</button>
      </div>
  
      <div class="counter-container">
        <button>-</button>
        <div class="amount-container">
          <input class="amount" id="amount" value="1" disabled>
  
          <div class="arrows-container">
            <div class="arrow-up" [style.margin-bottom]="'5px'"></div>
  
            <div class="arrow-down"></div>
          </div>
        </div>
        <button>+</button>
      </div>
  
    </div>
  
  
      <!--Item Icon-->
    <img class="product-icon" src="../../assets/item3.png">
  
    <div class="name-game-row">
      <span class="product-name">Blue Partyhat</span>
  
      <!--Game Icon-->
      <img class="game-icon" src="../../assets/gameicon3.png">
    </div>

    <div class="price-row">
      <span class="price">$450.00</span>
  
      <span class="old-price">$522.50</span>
    </div>
  
    <div class="description">
      Lorem ipsum dolor sit amet. In fuga architecto
    </div>
  
    <div class="button-row">
      <button class="details">DETAILS</button>
  
      <button class="add">
        <span>ADD</span>
        <div class="cart-container">
          <img src="../../assets/cartchicksgold.svg">
        </div>
      </button>
    </div>
  
  </div>


  <!-- Item 8 -->
  <div class="container">

    <!--Top content-->
    <div class="top-flex">
      <div class="on-sale">
        <div class="on-sale-container">
          <div class="point"></div>
          <span>ON SALE</span>
        </div>
        <button class="stock" disabled>In stock</button>
      </div>
  
      <div class="counter-container">
        <button>-</button>
        <div class="amount-container">
          <input class="amount" id="amount" value="1" disabled>
  
          <div class="arrows-container">
            <div class="arrow-up" [style.margin-bottom]="'5px'"></div>
  
            <div class="arrow-down"></div>
          </div>
        </div>
        <button>+</button>
      </div>
  
    </div>
  
      <!--Item Icon-->
    <img class="product-icon" src="../../assets/item3.png">
  
    <div class="name-game-row">
      <span class="product-name">Blue Partyhat</span>
  
      <!--Game Icon-->
      <img class="game-icon" src="../../assets/gameicon3.png">
    </div>

    <div class="price-row">
      <span class="price">$450.00</span>
  
      <span class="old-price">$522.50</span>
    </div>
  
    <div class="description">
      Lorem ipsum dolor sit amet. In fuga architecto
    </div>
  
    <div class="button-row">
      <button class="details">DETAILS</button>
  
      <button class="add">
        <span>ADD</span>
        <div class="cart-container">
          <img src="../../assets/cartchicksgold.svg">
        </div>
      </button>
    </div>
  
  </div>

  <!-- Item 9 -->
  <div class="container">

    <!--Top content-->
    <div class="top-flex">
      <div class="on-sale">
        <div class="on-sale-container">

        </div>
        <button class="stock" disabled>In stock</button>
      </div>
  
      <div class="counter-container">
        <button>-</button>
        <div class="amount-container">
          <input class="amount" id="amount" value="1" disabled>
  
          <div class="arrows-container">
            <div class="arrow-up" [style.margin-bottom]="'5px'"></div>
  
            <div class="arrow-down"></div>
          </div>
        </div>
        <button>+</button>
      </div>
  
    </div>
  
      <!--Item Icon-->
    <img class="product-icon" src="../../assets/item3.png">
  
    <div class="name-game-row">
      <span class="product-name">Blue Partyhat</span>
  
      <!--Game Icon-->
      <img class="game-icon" src="../../assets/gameicon3.png">
    </div>

    <div class="price-row">
      <span class="price">$450.00</span>
  
      <span class="old-price">$522.50</span>
    </div>
  
    <div class="description">
      Lorem ipsum dolor sit amet. In fuga architecto
    </div>
  
    <div class="button-row">
      <button class="details">DETAILS</button>
  
      <button class="add">
        <span>ADD</span>
        <div class="cart-container">
          <img src="../../assets/cartchicksgold.svg">
        </div>
      </button>
    </div>
  
  </div>

  <!-- Item 10 -->
  <div class="container">

    <!--Top content-->
    <div class="top-flex">
      <div class="on-sale">
        <div class="on-sale-container">

        </div>
        <button class="stock" disabled>In stock</button>
      </div>
  
      <div class="counter-container">
        <button>-</button>
        <div class="amount-container">
          <input class="amount" id="amount" value="1" disabled>
  
          <div class="arrows-container">
            <div class="arrow-up" [style.margin-bottom]="'5px'"></div>
  
            <div class="arrow-down"></div>
          </div>
        </div>
        <button>+</button>
      </div>
  
    </div>
  
  
      <!--Item Icon-->
    <img class="product-icon" src="../../assets/item4.png">
  
    <div class="name-game-row">
      <span class="product-name">Blue Partyhat</span>
  
      <!--Game Icon-->
      <img class="game-icon" src="../../assets/gameicon4.png">
    </div>

    <div class="price-row">
      <span class="price">$450.00</span>
  
      <span class="old-price">$522.50</span>
    </div>
  
    <div class="description">
      Lorem ipsum dolor sit amet. In fuga architecto
    </div>
  
    <div class="button-row">
      <button class="details">DETAILS</button>
  
      <button class="add">
        <span>ADD</span>
        <div class="cart-container">
          <img src="../../assets/cartchicksgold.svg">
        </div>
      </button>
    </div>
  
  </div>

  <!-- Item 11 -->
  <div class="container">

    <!--Top content-->
    <div class="top-flex">
      <div class="on-sale">
        <div class="on-sale-container">

        </div>
        <button class="stock" disabled>In stock</button>
      </div>
  
      <div class="counter-container">
        <button>-</button>
        <div class="amount-container">
          <input class="amount" id="amount" value="1" disabled>
  
          <div class="arrows-container">
            <div class="arrow-up" [style.margin-bottom]="'5px'"></div>
  
            <div class="arrow-down"></div>
          </div>
        </div>
        <button>+</button>
      </div>
  
    </div>
  
  
      <!--Item Icon-->
    <img class="product-icon" src="../../assets/item4.png">
  
    <div class="name-game-row">
      <span class="product-name">Blue Partyhat</span>
  
      <!--Game Icon-->
      <img class="game-icon" src="../../assets/gameicon4.png">
    </div>

    <div class="price-row">
      <span class="price">$450.00</span>
  
      <span class="old-price">$522.50</span>
    </div>
  
    <div class="description">
      Lorem ipsum dolor sit amet. In fuga architecto
    </div>
  
    <div class="button-row">
      <button class="details">DETAILS</button>
  
      <button class="add">
        <span>ADD</span>
        <div class="cart-container">
          <img src="../../assets/cartchicksgold.svg">
        </div>
      </button>
    </div>
  
  </div>


  <!-- Item 12 -->
  <div class="container">

    <!--Top content-->
    <div class="top-flex">
      <div class="on-sale">
        <div class="on-sale-container">

        </div>
        <button class="stock" disabled>In stock</button>
      </div>
  
      <div class="counter-container">
        <button>-</button>
        <div class="amount-container">
          <input class="amount" id="amount" value="1" disabled>
  
          <div class="arrows-container">
            <div class="arrow-up" [style.margin-bottom]="'5px'"></div>
  
            <div class="arrow-down"></div>
          </div>
        </div>
        <button>+</button>
      </div>
  
    </div>
  
  
      <!--Item Icon-->
    <img class="product-icon" src="../../assets/item4.png">
  
    <div class="name-game-row">
      <span class="product-name">Blue Partyhat</span>
  
      <!--Game Icon-->
      <img class="game-icon" src="../../assets/gameicon4.png">
    </div>

    <div class="price-row">
      <span class="price">$450.00</span>
  
      <span class="old-price">$522.50</span>
    </div>
  
    <div class="description">
      Lorem ipsum dolor sit amet. In fuga architecto
    </div>
  
    <div class="button-row">
      <button class="details">DETAILS</button>
  
      <button class="add">
        <span>ADD</span>
        <div class="cart-container">
          <img src="../../assets/cartchicksgold.svg">
        </div>
      </button>
    </div>
  
  </div>


 <!-- Item 13 -->
 <div class="container">

  <!--Top content-->
  <div class="top-flex">
    <div class="on-sale">
      <div class="on-sale-container">

      </div>
      <button class="stock" disabled>In stock</button>
    </div>

    <div class="counter-container">
      <button>-</button>
      <div class="amount-container">
        <input class="amount" id="amount" value="1" disabled>

        <div class="arrows-container">
          <div class="arrow-up" [style.margin-bottom]="'5px'"></div>

          <div class="arrow-down"></div>
        </div>
      </div>
      <button>+</button>
    </div>

  </div>


    <!--Item Icon-->
  <img class="product-icon" src="../../assets/item5.png">

  <div class="name-game-row">
    <span class="product-name">Blue Partyhat</span>

    <!--Game Icon-->
    <img class="game-icon" src="../../assets/gameicon5.png">
  </div>

  <div class="price-row">
    <span class="price">$450.00</span>

    <span class="old-price">$522.50</span>
  </div>

  <div class="description">
    Lorem ipsum dolor sit amet. In fuga architecto
  </div>

  <div class="button-row">
    <button class="details">DETAILS</button>

    <button class="add">
      <span>ADD</span>
      <div class="cart-container">
        <img src="../../assets/cartchicksgold.svg">
      </div>
    </button>
  </div>

</div>


 <!-- Item 14 -->
 <div class="container">

  <!--Top content-->
  <div class="top-flex">
    <div class="on-sale">
      <div class="on-sale-container">

      </div>
      <button class="stock" disabled>In stock</button>
    </div>

    <div class="counter-container">
      <button>-</button>
      <div class="amount-container">
        <input class="amount" id="amount" value="1" disabled>

        <div class="arrows-container">
          <div class="arrow-up" [style.margin-bottom]="'5px'"></div>

          <div class="arrow-down"></div>
        </div>
      </div>
      <button>+</button>
    </div>

  </div>


    <!--Item Icon-->
  <img class="product-icon" src="../../assets/item5.png">

  <div class="name-game-row">
    <span class="product-name">Blue Partyhat</span>

    <!--Game Icon-->
    <img class="game-icon" src="../../assets/gameicon5.png">
  </div>

  <div class="price-row">
    <span class="price">$450.00</span>

    <span class="old-price">$522.50</span>
  </div>

  <div class="description">
    Lorem ipsum dolor sit amet. In fuga architecto
  </div>

  <div class="button-row">
    <button class="details">DETAILS</button>

    <button class="add">
      <span>ADD</span>
      <div class="cart-container">
        <img src="../../assets/cartchicksgold.svg">
      </div>
    </button>
  </div>

</div>

 <!-- Item 15 -->
 <div class="container">

  <!--Top content-->
  <div class="top-flex">
    <div class="on-sale">
      <div class="on-sale-container">

      </div>
      <button class="stock" disabled>In stock</button>
    </div>

    <div class="counter-container">
      <button>-</button>
      <div class="amount-container">
        <input class="amount" id="amount" value="1" disabled>

        <div class="arrows-container">
          <div class="arrow-up" [style.margin-bottom]="'5px'"></div>

          <div class="arrow-down"></div>
        </div>
      </div>
      <button>+</button>
    </div>

  </div>


    <!--Item Icon-->
  <img class="product-icon" src="../../assets/item5.png">

  <div class="name-game-row">
    <span class="product-name">Blue Partyhat</span>

    <!--Game Icon-->
    <img class="game-icon" src="../../assets/gameicon5.png">
  </div>

  <div class="price-row">
    <span class="price">$450.00</span>

    <span class="old-price">$522.50</span>
  </div>

  <div class="description">
    Lorem ipsum dolor sit amet. In fuga architecto
  </div>

  <div class="button-row">
    <button class="details">DETAILS</button>

    <button class="add">
      <span>ADD</span>
      <div class="cart-container">
        <img src="../../assets/cartchicksgold.svg">
      </div>
    </button>
  </div>

</div>